<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>job scrapping</title>

  <!-- style -->
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  />
</head>

<body>
  <main class="container">
      <div>
        <h1><a href='/'># We Find Job</a></h1>
      </div>
    <!-- search form -->
    <form action="/search">
      <input required
        id='keyword'
        type="text"
        name="keyword"
        placeholder="search a job"/>
      <button >search</button>
    </form>


  </main>
</body>

</html>